<% posts.each.with_index do |p, idx| %>
  <div class="row post" data-post-id="<%= idx %>">
    <div class="col-xs-12">
      <h2><%= p.title %></h2>
      <p class="text-muted">Posted on <%= format_datetime p.post_date %></p>
      <%= markdown p.content %>  
    </div>
  </div>
<% end %>